@model List<EntityLayer.Concrete.ImageCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int i = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>NO</th>
            <th>NAME</th>
            <th>STATUS</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>@Html.Raw(item.IsActive == true ? "<span class='label label-success'>Active</span>" : "<span class='label label-danger'>Passive</span>")</td>
                <td class="text-nowrap">
                    <a href="@Url.Action("Edit","ImageCategory",new {id = @item.Id})" data-toggle="tooltip" data-original-title="Edit">
                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                    </a>
                    <a href="@Url.Action("Delete","ImageCategory",new {id = @item.Id})" data-toggle="tooltip" data-original-title="Delete">
                        <i class="fa fa-close text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Add","ImageCategory")" class="fcbtn btn btn-outline btn-success btn-1e">New ImageCategory</a>