@model IEnumerable<EntityLayer.Concrete.Heading>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}

<!-- Bootstrap Core CSS -->
<link href="@Url.Content("~/eliteadmin/plugins/bower_components/datatables/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="http://www.w3schools.com/lib/w3data.js"></script>
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Heading Report</h3>
            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
            <div class="table-responsive">
                <table id="report" class="display nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CATEGORY</th>
                            <th>NAME</th>
                            <th>WRITE</th>
                            <th>DATE</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>CATEGORY</th>
                            <th>NAME</th>
                            <th>WRITE</th>
                            <th>DATE</th>
                            <th>STATUS</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Category.Name</td>
                                <td>@item.Name</td>
                                <td>@item.Writer.FullName</td>
                                <td>@item.CreDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Html.Raw(item.IsActive == true ? "<span class='label label-success'>Active</span>" : "<span class='label label-danger'>Passive</span>")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/eliteadmin/plugins/bower_components/jquery/dist/jquery.min.js")"></script>
<script src="@Url.Content("~/eliteadmin/plugins/bower_components/datatables/jquery.dataTables.min.js")"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script>
    $('#report').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>